@import 'tool/normalize';   // resize
@import 'var/var-main';			// var
@import 'tool/extend';			// 共用樣式
@import 'tool/mixin';	 			// 共用運算樣式

// table
@import 'table/main-table';	// 框架、基礎樣式

// component
@import 'component/header';	// header
@import 'component/nav';	// nav
@import 'component/main';	// main
@import 'component/footer';	// footer
@import 'component/popup';  // popup
@import 'component/popup-list-info';  // popup
@import 'component/popup-list-info';  // popup

// page
@import 'page/list';	// index
.owl-carousel{
  display: block;
}
// .owl-carousel a{
//   display: block;
// }
.owl-theme img{
  width: 100%;
  display: flex;
}

