<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>第57屆廣播電視金鐘獎入圍得獎名單</title>
  <meta name="keywords"    content="金鐘獎入圍名單, 金鐘獎得獎名單, 2022金鐘入圍, 2022金鐘得獎">
  <meta name="description" content="金鐘57入圍與得獎名單，108年、109年、110年、111年電視廣播金鐘歷年名單，電視金鐘獎項包括節目獎、個人獎、技術獎、節目創新獎、特別獎項、非正式競賽獎項；廣播金鐘獎項包括節目獎、個人獎、廣告獎、電台品牌行銷創新獎、創新研發應用獎、特別獎項。">
  <meta name="author"      content="三立電視台">

  <meta property="og:url"           content="https://gba.tavis.tw/57th" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="第57屆廣播電視金鐘獎入圍得獎名單" />
  <meta property="og:description"   content="金鐘57入圍與得獎名單，108年、109年、110年、111年電視廣播金鐘歷年名單，電視金鐘獎項包括節目獎、個人獎、技術獎、節目創新獎、特別獎項、非正式競賽獎項；廣播金鐘獎項包括節目獎、個人獎、廣告獎、電台品牌行銷創新獎、創新研發應用獎、特別獎項。" />
  <meta property="og:image"         content="https://attach.setn.com/data/gba57/images/share/facebook.png" />

  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="stylesheet" href="css/owl/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/list.css">
  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setCookieDomain", "*.gba.tavis.tw"]);
    _paq.push(["setDomains", ["*.gba.tavis.tw", "*.gba.tavis.tw"]]);
    _paq.push(["enableCrossDomainLinking"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//setana.setn.com/analytics/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '16']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NZ3723M');
  </script>
  <!-- End Google Tag Manager -->
    
  <!-- Start Alexa Certify Javascript -->
  <script type="text/javascript">
    _atrk_opts = { atrk_acct:"dMuYi1a8Dy00yP", domain:"setn.com",dynamic: true};
    (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
  </script>
  <!-- End Alexa Certify Javascript -->
  
  <!-- Begin comScore Tag -->
  <script>
    var _comscore = _comscore || [];
    _comscore.push({ c1: "2", c2: "20617561" });
    (function() {
      var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
      s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
      el.parentNode.insertBefore(s, el);
    })();
  </script>
  <!-- End comScore Tag -->
</head>
<body>
  <div class="bg-wrap"></div>
  <div id="app" v-cloak>
    <h1>金鐘57入圍得獎名單</h1>
    <h2>歷年入圍得獎名單,所有獎項入圍得獎名單</h2>
    <div class="wrap-table">
      <div class="area-table">
        <header-comp @click-nav-bar="clickMobileNavBar"></header-comp>
      </div>
    </div>
    <div class="wrap-table">
      <div class="area-table">
        <main>
          <aside>
            <div class="logo">
              <a href="index.html">
                <img class="horizontal" alt="GBA57" 
                    src="https://attach.setn.com/data/gba57/images/logo/57logo.png" 
                    srcset="https://attach.setn.com/data/gba57/images/logo/57logo@2x.png 2x,
                            https://attach.setn.com/data/gba57/images/logo/57logo@3x.png 3x" />
              </a>
            </div>
            <nav-comp @click-nav-bar="clickMobileNavBar"></nav-comp>
          </aside>
          <article>
            <section class="kv-wrap">
              <div class="kv-poster">
                <picture>
                  <source media="(max-width: 969px)"
                          srcset="https://attach.setn.com/data/gba57/images/kv-poster/tv-programming-m.png,
                                  https://attach.setn.com/data/gba57/images/kv-poster/tv-programming-m@2x.png 2x,
                                  https://attach.setn.com/data/gba57/images/kv-poster/tv-programming-m@3x.png 3x" >
                  <source media="(min-width: 970px)"
                          srcset="https://attach.setn.com/data/gba57/images/kv-poster/tv-programming.png,
                                  https://attach.setn.com/data/gba57/images/kv-poster/tv-programming@2x.png 2x,
                                  https://attach.setn.com/data/gba57/images/kv-poster/tv-programming@3x.png 3x" >
                  <img src="https://attach.setn.com/data/gba57/images/kv-poster/tv-programming.png" alt="GBA57-電視金鐘節目類">
                </picture>
                <picture>
                  <source media="(max-width: 969px)"
                          srcset="https://attach.setn.com/data/gba57/images/kv-poster/radio-broadcasting-m.png,
                                  https://attach.setn.com/data/gba57/images/kv-poster/radio-broadcasting-m@2x.png 2x,
                                  https://attach.setn.com/data/gba57/images/kv-poster/radio-broadcasting-m@3x.png 3x" >
                  <source media="(min-width: 970px)"
                          srcset="https://attach.setn.com/data/gba57/images/kv-poster/radio-broadcasting.png,
                                  https://attach.setn.com/data/gba57/images/kv-poster/radio-broadcasting@2x.png 2x,
                                  https://attach.setn.com/data/gba57/images/kv-poster/radio-broadcasting@3x.png 3x" >
                  <img src="https://attach.setn.com/data/gba57/images/kv-poster/radio-broadcasting.png" alt="GBA57-廣播金鐘獎">
                </picture>
                <picture>
                  <source media="(max-width: 969px)"
                          srcset="https://attach.setn.com/data/gba57/images/kv-poster/tv-dramatic-m.png,
                                  https://attach.setn.com/data/gba57/images/kv-poster/tv-dramatic-m@2x.png 2x,
                                  https://attach.setn.com/data/gba57/images/kv-poster/tv-dramatic-m@3x.png 3x" >
                  <source media="(min-width: 970px)"
                          srcset="https://attach.setn.com/data/gba57/images/kv-poster/tv-dramatic.png,
                                  https://attach.setn.com/data/gba57/images/kv-poster/tv-dramatic@2x.png 2x,
                                  https://attach.setn.com/data/gba57/images/kv-poster/tv-dramatic@3x.png 3x" >
                  <img src="https://attach.setn.com/data/gba57/images/kv-poster/tv-dramatic.png" alt="GBA57-電視金鐘節目">
                </picture>
              </div>
              <div class="kv-bg">
                <div class="kv-header">
                  <div class="title">LIST</div>
                  <div class="sub-title">入圍與得獎</div>
                  <div class="line"></div>
                </div>
                <div class="kv-info">
                  <ul class="year-list">
                    <li><a href="108list.html">108年</a></li>
                    <li><a href="109list.html">109年</a></li>
                    <li class="active"><a href="javascript:;">110年</a></li>
                    <li><a href="111list.html">111年</a></li>
                  </ul>
                  <ul class="history-list">
                    <li>
                      <ul class="btn-style">
                        <li class="btn-tv active">
                          <a  href="javascript:;" @click="clickTVListChange()"
                              class="gt"
                              data-ec="入圍與得獎110" data-ea="電視金鐘歷年名單" >電視金鐘歷年名單</a>
                        </li>
                      </ul>
                      <!-- <a href="download/110電視.pdf" download> -->
                      <a href="https://attach.setn.com/data/gba56/110-TV.pdf" target="_blank" download>
                        <img  alt="history download" 
                              src="https://attach.setn.com/data/gba57/images/list/download.png" 
                              srcset="https://attach.setn.com/data/gba57/images/list/download@2x.png 2x,
                                      https://attach.setn.com/data/gba57/images/list/download@3x.png 3x" />
                      </a>
                    </li>
                    <li>
                      <ul class="btn-style">
                        <li class="btn-radio">
                          <a  href="javascript:;" @click="clickRadioListChange()"
                              class="gt"
                              data-ec="入圍與得獎110" data-ea="廣播金鐘歷年名單">廣播金鐘歷年名單</a>
                        </li>
                      </ul>
                      <!-- <a href="download/110廣播.pdf" download> -->
                      <a href="https://attach.setn.com/data/gba56/110-radio.pdf" target="_blank" download>
                        <img  alt="history download" 
                              src="https://attach.setn.com/data/gba57/images/list/download.png" 
                              srcset="https://attach.setn.com/data/gba57/images/list/download@2x.png 2x,
                                      https://attach.setn.com/data/gba57/images/list/download@3x.png 3x" />
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
            <section class="banner-wrap">
              <ad-banner></ad-banner>
            </section>
            <section class="info-wrap" v-show="show.TVWrap">
              <ul class="competition-list-wrap">
                <li v-for="items in data.tvList" key="items.categoryName">
                  <div class="title">
                    <img  alt="icon"
                          src="https://attach.setn.com/data/gba57/images/list/icon-map.png" 
                          srcset="https://attach.setn.com/data/gba57/images/list/icon-map@2x.png 2x,
                                  https://attach.setn.com/data/gba57/images/list/icon-map@3x.png 3x" />
                    {{ items.categoryName }}
                  </div>
                  <ul class="list-info-list">
                    <li v-for="item in items.award" key="item">
                      <a  :href="'#TV-' + item.awardName"
                          class="gt"
                          data-ec="入圍與得獎110" :data-ea="'電視金鐘-' + items.categoryName">{{ item.awardName }}
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
              <ul class="competition-info-wrap" v-for="(items, idx) in data.tvList" key="items">
                <li v-for="(item, idx) in items.award" key="item"
                    :id="'TV-' + item.awardName">
                  <div class="title" >
                    <img  alt="icon" 
                          src="https://attach.setn.com/data/gba57/images/list/icon-star.png" 
                          srcset="https://attach.setn.com/data/gba57/images/list/icon-star@2x.png 2x,
                                  https://attach.setn.com/data/gba57/images/list/icon-star@3x.png 3x" />
                    {{ item.awardName }}
                  </div>

                  <ul class="list-info-list">
                    <li v-for="itemInfo in item" key="item"
                        :class="{ active: itemInfo.winner == 1 }"
                        @click="clickPopupListinfo(itemInfo)"
                        class="gt"
                        data-ec="入圍與得獎110"
                        :data-ea="'電視金鐘-' + items.categoryName + '-' + item.awardName"
                        :data-el="itemInfo.finalist"
                    >
                      <i class="fa-solid fa-star" v-if="!itemInfo.winner"></i>
                      <img  alt="icon"  v-if="itemInfo.winner"
                            src="https://attach.setn.com/data/gba57/images/list/icon-bell.png" 
                            srcset="https://attach.setn.com/data/gba57/images/list/icon-bell@2x.png 2x,
                                    https://attach.setn.com/data/gba57/images/list/icon-bell@3x.png 3x" />
                      <div class="desc">
                        <div class="title">{{ itemInfo.finalist }}</div>
                        <div class="info">{{ itemInfo.info }}</div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </section> 
            <section class="info-wrap" v-show="show.radioWrap">
              <ul class="competition-list-wrap">
                <li v-for="items in data.radioList" key="items.categoryName">
                  <div class="title">
                    <img  alt="icon"
                          src="https://attach.setn.com/data/gba57/images/list/icon-map.png" 
                          srcset="https://attach.setn.com/data/gba57/images/list/icon-map@2x.png 2x,
                                  https://attach.setn.com/data/gba57/images/list/icon-map@3x.png 3x" />
                    {{ items.categoryName }}
                  </div>
                  <ul class="list-info-list">
                    <li v-for="item in items.award" key="item">
                      <a  :href="'#radio-' + item.awardName"
                          class="gt"
                          data-ec="入圍與得獎110" :data-ea="'廣播金鐘-' + items.categoryName"
                      >{{ item.awardName }}</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <ul class="competition-info-wrap" v-for="(items, idx) in data.radioList" key="items">
                <li v-for="(item, idx) in items.award" key="item"
                    :id="'radio-' + item.awardName">
                  <div class="title" >
                    <img  alt="icon" 
                          src="https://attach.setn.com/data/gba57/images/list/icon-star.png" 
                          srcset="https://attach.setn.com/data/gba57/images/list/icon-star@2x.png 2x,
                                  https://attach.setn.com/data/gba57/images/list/icon-star@3x.png 3x" />
                    {{ item.awardName }}
                  </div>

                  <ul class="list-info-list">
                    <li class="gt hoverPointer"
                        v-for="itemInfo in item" key="item"
                        :class="{active: itemInfo.winner == 1}"
                        @click="clickPopupListinfo(itemInfo)"
                        data-ec="入圍與得獎110"
                        :data-ea="'廣播金鐘-' + items.categoryName + '-' + item.awardName"
                        :data-el="itemInfo.finalist"
                    >
                      <i class="fa-solid fa-star" v-if="!itemInfo.winner"></i>
                      <img  alt="icon"  v-if="itemInfo.winner"
                            src="https://attach.setn.com/data/gba57/images/list/icon-bell.png" 
                            srcset="https://attach.setn.com/data/gba57/images/list/icon-bell@2x.png 2x,
                                    https://attach.setn.com/data/gba57/images/list/icon-bell@3x.png 3x" />
                      <div class="desc">
                        <div class="title">{{ itemInfo.finalist }}</div>
                        <div class="info">{{ itemInfo.info }}</div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </section> 
          </article>
        </main>
      </div>
    </div>
    <div class="wrap-table">
      <div class="area-table">
        <footer>
          <div id="gotop" class="go-top">
            <img  src="https://attach.setn.com/data/gba57/images/icon/top.png" 
                  srcset="https://attach.setn.com/data/gba57/images/icon/top@2x.png 2x, 
                  https://attach.setn.com/data/gba57/images/icon/top@3x.png 3x" 
                  alt="GBA57-GoTop" />
          </div>
          <div class="copyright">© 請尊重智慧財產權勿任意轉載違者依法必究</div>
        </footer>
      </div>
    </div>
    <!-- <popup-bulletin-comp></popup-bulletin-comp> -->
    <!-- <popup-vote-comp></popup-vote-comp> -->
    <popup-list-info-comp @click-popup-show="clickPopupShow()"
                          :data-popup-show="show.popupListInfo"
                          :data-popup-item="data.popupListInfo"
                          :data-popup-img-url="apiUrl.popupImg">
    </popup-list-info-comp>
  </div>
  <script src="https://kit.fontawesome.com/30b29e4428.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.7"></script>
  <script src="https://unpkg.com/http-vue-loader"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/1.0.0/fetch.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="js/tool/owl/owl.carousel.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/list.js"></script>
</body>
</html>