<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>第57屆廣播電視金鐘獎典禮直播</title>
  <meta name="keywords"    content="金鐘記者會, 金鐘現場直播, 金鐘星光大道, 頒獎典禮LIVE直播">
  <meta name="description" content="2022第57屆金鐘獎頒獎典禮現場LIVE直播，貼心提供多視角服務：廣播金鐘LIVE直播、手語、新聞中心、主持人發布會、入圍公布記者會；電視金鐘LIVE直播、舞台正視角全景、手語、新聞中心、星光大道現場LIVE、主持人區、媒體訪問區、星光+典禮主持群發布會、入圍公布記者會。">
  <meta name="author"      content="三立電視台">

  <meta property="og:url"           content="https://gba.tavis.tw/57th" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="第57屆廣播電視金鐘獎典禮直播" />
  <meta property="og:description"   content="2022第57屆金鐘獎頒獎典禮現場LIVE直播，貼心提供多視角服務：廣播金鐘LIVE直播、手語、新聞中心、主持人發布會、入圍公布記者會；電視金鐘LIVE直播、舞台正視角全景、手語、新聞中心、星光大道現場LIVE、主持人區、媒體訪問區、星光+典禮主持群發布會、入圍公布記者會。" />
  <meta property="og:image"         content="https://attach.setn.com/data/gba57/images/share/facebook.png" />

  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="stylesheet" href="css/owl/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/clip.css">
  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setCookieDomain", "*.gba.tavis.tw"]);
    _paq.push(["setDomains", ["*.gba.tavis.tw", "*.gba.tavis.tw"]]);
    _paq.push(["enableCrossDomainLinking"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//setana.setn.com/analytics/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '16']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NZ3723M');
  </script>
  <!-- End Google Tag Manager -->
    
  <!-- Start Alexa Certify Javascript -->
  <script type="text/javascript">
    _atrk_opts = { atrk_acct:"dMuYi1a8Dy00yP", domain:"setn.com",dynamic: true};
    (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
  </script>
  <!-- End Alexa Certify Javascript -->
  
  <!-- Begin comScore Tag -->
  <script>
    var _comscore = _comscore || [];
    _comscore.push({ c1: "2", c2: "20617561" });
    (function() {
      var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
      s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
      el.parentNode.insertBefore(s, el);
    })();
  </script>
  <!-- End comScore Tag -->
</head>
<body>
  <div class="bg-wrap"></div>
  <div id="app" v-cloak>
    <h1>金鐘57典禮直播</h1>
    <h2>多視角服務,廣播金鐘直播,電視金鐘直播</h2>
    <div class="wrap-table">
      <div class="area-table">
        <header-comp @click-nav-bar="clickMobileNavBar"></header-comp>
      </div>
    </div>
    <div class="wrap-table">
      <div class="area-table">
        <main>
          <aside>
            <div class="logo">
              <a href="index.html">
                <img class="horizontal" alt="GBA57" 
                    src="https://attach.setn.com/data/gba57/images/logo/57logo.png" 
                    srcset="https://attach.setn.com/data/gba57/images/logo/57logo@2x.png 2x,
                            https://attach.setn.com/data/gba57/images/logo/57logo@3x.png 3x" />
              </a>
            </div>
            <nav-comp @click-nav-bar="clickMobileNavBar"></nav-comp>
          </aside>
          <article>
            <section class="clip-wrap">
              <!-- <div id="YouTubeVideoPlayerAPI"></div> -->
              <div class="clip-header">
                <div class="title">典禮直播</div>
                <img  alt="典禮直播" 
                      src="https://attach.setn.com/data/gba57/images/clip/clip-icon.png" 
                      srcset="https://attach.setn.com/data/gba57/images/clip/clip-icon@2x.png 2x,
                              https://attach.setn.com/data/gba57/images/clip/clip-icon@3x.png 3x" />

              </div>
              <div class="video-container">
                <div id="my-video">
                  <!-- <iframe :src="'https://www.youtube.com/embed/' + this.data.videoId + '?rel=0&amp;autoplay=1&mute=1'" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                  <!-- <iframe src="'https://www.youtube.com/embed/Pebnl10q7k0?rel=0&amp;autoplay=1&mute=1'" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                </div>
              </div>
              <div class="video-lsit-wrap">
                <!-- <div class="video-list-name">第57屆金鐘獎貼心提供多視角服務</div> -->
                <ul id="videoTypes" class="video-table">
                  <li class="gt " data-typev="radio" data-ec="典禮直播" data-ea="廣播金鐘直播" @click="clickVideoTable(event)">廣播金鐘直播</li>
                  <li class="gt active" data-typev="tv-programme" data-ec="典禮直播" data-ea="電視金鐘節目類直播" @click="clickVideoTable(event)">電視金鐘<wbr>節目類直播</li>
                  <li class="gt" data-typev="tv-drama" data-ec="典禮直播" data-ea="電視金鐘戲劇類直播" @click="clickVideoTable(event)">電視金鐘<wbr>戲劇類直播</li>
                </ul>
                <div id="video-info" class="video-info-wrap">
                  <div class="radio active">
                    <ul>
                      <li v-for="item in data.videoYT.content.radio" key="item.videoId"
                          @click="clickVideoChange(item.videoId)"
                          class="gt hoverPointer"
                          data-ec="典禮直播" data-ea="廣播金鐘直播"
                      >
                        <img :src="'https://img.youtube.com/vi/' + item.videoId + '/maxresdefault.jpg'" :alt="item.title">
                        <div class="title">{{ item.title }}</div>
                      </li>
                    </ul>
                  </div>
                  <div class="tv-programme">
                    <ul>
                      <li v-for="item in data.videoYT.content.tvProgramme" key="item.videoId"
                          @click="clickVideoChange(item.videoId)"
                          class="gt hoverPointer"
                          data-ec="典禮直播" data-ea="電視金鐘節目類直播"
                      >
                        <img :src="'https://img.youtube.com/vi/' + item.videoId + '/maxresdefault.jpg'" :alt="item.title">
                        <div class="title">{{ item.title }}</div>
                      </li>
                    </ul>
                  </div>
                  <div class="tv-drama">
                    <ul>
                      <li v-for="item in data.videoYT.content.tvDrama" key="item.videoId"
                          @click="clickVideoChange(item.videoId)"
                          class="gt hoverPointer"
                          data-ec="典禮直播" data-ea="電視金鐘戲劇類直播"
                      >
                        <img :src="'https://img.youtube.com/vi/' + item.videoId + '/maxresdefault.jpg'" :alt="item.title">
                        <div class="title">{{ item.title }}</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </section>
          </article>
        </main>
      </div>
    </div>
    <div class="wrap-table">
      <div class="area-table">
        <footer>
          <div id="gotop" class="go-top">
            <img src="https://attach.setn.com/data/gba57/images/icon/top.png" 
            srcset="https://attach.setn.com/data/gba57/images/icon/top@2x.png 2x, 
            https://attach.setn.com/data/gba57/images/icon/top@3x.png 3x" 
            alt="GBA57-GoTop" />
          </div>
          <div class="copyright">© 請尊重智慧財產權勿任意轉載違者依法必究</div>
        </footer>
      </div>
    </div>
    <!-- <popup-bulletin-comp></popup-bulletin-comp> -->
    <!-- <popup-vote-comp></popup-vote-comp> -->
  </div>
  <script src="https://kit.fontawesome.com/30b29e4428.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.7"></script>
  <script src="https://unpkg.com/http-vue-loader"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/1.0.0/fetch.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="js/tool/ytApi.js"></script>
  <script src="js/main.js"></script>
  <script src="js/clip.js"></script>
</body>
</html>