<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>第57屆廣播電視金鐘獎最新消息</title>
  <meta name="keywords"    content="金鐘最新消息, 金鐘獎新聞, 2022金鐘最新消息">
  <meta name="description" content="隨時掌握金鐘57最新消息，不錯過即時新聞。">
  <meta name="author"      content="三立電視台">

  <meta property="og:url"           content="https://gba.tavis.tw/57th" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="第57屆廣播電視金鐘獎最新消息" />
  <meta property="og:description"   content="隨時掌握金鐘57最新消息，不錯過即時新聞。" />
  <meta property="og:image"         content="https://attach.setn.com/data/gba57/images/share/facebook.png" />

  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="stylesheet" href="css/owl/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/plugin/pager/pagerJS.css">
  <link rel="stylesheet" href="css/newslist.css">
  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setCookieDomain", "*.gba.tavis.tw"]);
    _paq.push(["setDomains", ["*.gba.tavis.tw", "*.gba.tavis.tw"]]);
    _paq.push(["enableCrossDomainLinking"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//setana.setn.com/analytics/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '16']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NZ3723M');
  </script>
  <!-- End Google Tag Manager -->
    
  <!-- Start Alexa Certify Javascript -->
  <script type="text/javascript">
    _atrk_opts = { atrk_acct:"dMuYi1a8Dy00yP", domain:"setn.com",dynamic: true};
    (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
  </script>
  <!-- End Alexa Certify Javascript -->
  
  <!-- Begin comScore Tag -->
  <script>
    var _comscore = _comscore || [];
    _comscore.push({ c1: "2", c2: "20617561" });
    (function() {
      var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
      s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
      el.parentNode.insertBefore(s, el);
    })();
  </script>
  <!-- End comScore Tag -->
</head>
<body>
  <div class="bg-wrap"></div>
  <div id="app" v-cloak>
    <h1>金鐘57最新消息</h1>
    <h2>NEWS,最新消息</h2>
    <div class="wrap-table">
      <div class="area-table">
        <header-comp @click-nav-bar="clickMobileNavBar"></header-comp>
      </div>
    </div>
    <div class="wrap-table">
      <div class="area-table">
        <main>
          <aside>
            <div class="logo">
              <a href="index.html">
                <img class="horizontal" alt="GBA57" 
                    src="https://attach.setn.com/data/gba57/images/logo/57logo.png" 
                    srcset="https://attach.setn.com/data/gba57/images/logo/57logo@2x.png 2x,
                            https://attach.setn.com/data/gba57/images/logo/57logo@3x.png 3x" />
              </a>
            </div>
            <nav-comp @click-nav-bar="clickMobileNavBar"></nav-comp>
          </aside>
          <article>
            <section class="kv-wrap">
              <div class="kv-poster">
                <picture>
                  <source media="(max-width: 1023px)"
                          srcset="https://attach.setn.com/data/gba57/images/kv-poster/tv-programming-m.png,
                                  https://attach.setn.com/data/gba57/images/kv-poster/tv-programming-m@2x.png 2x,
                                  https://attach.setn.com/data/gba57/images/kv-poster/tv-programming-m@3x.png 3x" >
                  <source media="(min-width: 1024px)"
                          srcset="https://attach.setn.com/data/gba57/images/kv-poster/tv-programming.png,
                                  https://attach.setn.com/data/gba57/images/kv-poster/tv-programming@2x.png 2x,
                                  https://attach.setn.com/data/gba57/images/kv-poster/tv-programming@3x.png 3x" >
                  <img src="https://attach.setn.com/data/gba57/images/kv-poster/tv-programming.png" alt="GBA57-電視金鐘節目類">
                </picture>
                <picture>
                  <source media="(max-width: 1023px)"
                          srcset="https://attach.setn.com/data/gba57/images/kv-poster/radio-broadcasting-m.png,
                                  https://attach.setn.com/data/gba57/images/kv-poster/radio-broadcasting-m@2x.png 2x,
                                  https://attach.setn.com/data/gba57/images/kv-poster/radio-broadcasting-m@3x.png 3x" >
                  <source media="(min-width: 1024px)"
                          srcset="https://attach.setn.com/data/gba57/images/kv-poster/radio-broadcasting.png,
                                  https://attach.setn.com/data/gba57/images/kv-poster/radio-broadcasting@2x.png 2x,
                                  https://attach.setn.com/data/gba57/images/kv-poster/radio-broadcasting@3x.png 3x" >
                  <img src="https://attach.setn.com/data/gba57/images/kv-poster/radio-broadcasting.png" alt="GBA57-廣播金鐘獎">
                </picture>
                <picture>
                  <source media="(max-width: 1023px)"
                          srcset="https://attach.setn.com/data/gba57/images/kv-poster/tv-dramatic-m.png,
                                  https://attach.setn.com/data/gba57/images/kv-poster/tv-dramatic-m@2x.png 2x,
                                  https://attach.setn.com/data/gba57/images/kv-poster/tv-dramatic-m@3x.png 3x" >
                  <source media="(min-width: 1024px)"
                          srcset="https://attach.setn.com/data/gba57/images/kv-poster/tv-dramatic.png,
                                  https://attach.setn.com/data/gba57/images/kv-poster/tv-dramatic@2x.png 2x,
                                  https://attach.setn.com/data/gba57/images/kv-poster/tv-dramatic@3x.png 3x" >
                  <img src="https://attach.setn.com/data/gba57/images/kv-poster/tv-dramatic.png" alt="GBA57-電視金鐘節目">
                </picture>
              </div>
              <div class="kv-bg">
                <div class="kv-header">
                  <div class="title">NEWS</div>
                  <div class="sub-title">最新消息</div>
                  <div class="line"></div>
                </div>
                <div class="kv-info">
                  <ul class="news-list">
                    <li v-for="(item, idx) in data.topicNewsList[0].newsList" key="item.newsID"
                        v-if="idx <= 6">
                      <a :href="'news.html?id=' + item.newsID">
                        <img  alt=""
                              src="https://attach.setn.com/data/gba57/images/icon/icon-info.png"
                              srcset="https://attach.setn.com/data/gba57/images/icon/icon-info@2x.png 2x,
                                        https://attach.setn.com/data/gba57/images/icon/icon-info@3x.png 3x">
                        <div class="info">{{ item.shortSlug }}</div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
            <section class="info-wrap">
              <ul class="news-list-wrap">
                <li v-for="item in data.newsList[0].newsList" key="item.newsID"
                    @click="clickNewListItem()"
                >
                  <a :href="'news.html?id=' + item.newsID">
                    <img :src="item.imageFile + item.imageID + '-XL.jpg'" alt="">
                    <div class="title">{{ item.shortSlug }}</div>
                  </a>
                </li>
              </ul>
              <div class="page-num-wrap">
                <ul id="pagination-demo" class="pagination-sm"></ul>
              </div>
            </section>
          </article>
        </main>
      </div>
    </div>
    <div class="wrap-table">
      <div class="area-table">
        <footer>
          <div id="gotop" class="go-top">
            <img  alt="GBA57-GoTop"
                  src="https://attach.setn.com/data/gba57/images/icon/top.png" 
                  srcset="https://attach.setn.com/data/gba57/images/icon/top@2x.png 2x, 
                  https://attach.setn.com/data/gba57/images/icon/top@3x.png 3x" />
          </div>
          <div class="copyright">© 請尊重智慧財產權勿任意轉載違者依法必究</div>
        </footer>
      </div>
    </div>
    <!-- <popup-bulletin-comp></popup-bulletin-comp> -->
    <!-- <popup-vote-comp></popup-vote-comp> -->
  </div>
  <script src="https://kit.fontawesome.com/30b29e4428.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.7"></script>
  <script src="https://unpkg.com/http-vue-loader"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/1.0.0/fetch.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="js/tool/owl/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
  <script src="js/newslist.js"></script>
</body>
</html>